# Verilog quartus backups files
*.bak
# Quartus files
db\*
incremental_db\*
output_files\*
RomReader/db/

RomReader/incremental_db/

RomReader/output_files/

RomReader/simulation/

RomReader/RomReader.qws
